font-heading = 'Bariol', Helvetica, Arial, sans-serif
font-body = 'Bariol', Helvetica, Arial, sans-serif
font-special = 'Bariol', Helvetica, Arial, sans-serif
font-code = Monaco, monospace

color-orange = #ff842a
color-green = #70c222
color-lightblue = #96d7ec
color-blue = #59b3d0
color-red = #e95c5a
color-black = #333
color-white = #f5f5f5
color-grey = #7d7a73
color-grey-lightest = #f5f5f5
color-grey-lighter = #ddd
color-grey-light = #aaa
color-grey-mid = #ececec
color-grey-dark = #999
color-grey-darker = #666

color-bg = #51555c
color-header = #444444
color-primary = color-orange

color-editor-bg = #40444a
color-editor-box = darken(color-editor-bg, 15)
color-editor-gutter = color-editor-bg
color-editor-selection = rgba(color-orange, .4)

color-success = color-green
color-danger = color-red
color-disabled = darken(color-grey-lightest, 10)

color-ruler = rgba(#000, .1)
color-ruler-inverse = rgba(#fff, .2)

color-type-body = #fff
color-type-heading = #fff
color-type-link = darken(color-primary, 6%)

color-language-keyword = rgba(#eeceeb, .4)
color-language-string = #e95c5a
color-language-number = #59b3d0
color-language-identifier = #ff842a
color-language-language = #b0d942

editor-height = 551px
header-height = 35px
editor-tabs-size = 45px
editor-title-height = 50px

layout-breakpoint-mobile = 600px
layout-breakpoint-tablet = 768px
layout-breakpoint-display = 980px
layout-breakpoint-display-large = 1160px

layout-breakpoint-nav-mobile = 785px
layout-breakpoint-nav-tablet = 1000px

layout-media-except-mobile = 'screen and (min-width:' + layout-breakpoint-mobile + ')'
layout-media-intermediate = 'screen and (min-width:' + (layout-breakpoint-mobile + 1) + ') and (max-width:' + layout-breakpoint-display-large + ')'
layout-media-mobile = 'screen and (max-width:' + layout-breakpoint-mobile + ')'
layout-media-tablet = 'screen and (min-width:' + (layout-breakpoint-mobile + 1) + ') and (max-width:' + layout-breakpoint-tablet + ')'
layout-media-display = 'screen and (min-width:' + (layout-breakpoint-tablet + 1) + ') and (max-width:' + layout-breakpoint-display + ')'
layout-media-display-large = 'screen and (min-width:' + (layout-breakpoint-display + 1) + ')'

layout-media-nav-mobile = 'screen and (max-width:' + layout-breakpoint-nav-mobile + ')'
layout-media-nav-tablet = 'screen and (min-width:' + (layout-breakpoint-nav-mobile + 1) + ') and (max-width:' + layout-breakpoint-nav-tablet + ')'