
<div ng-if="open" class="modal-overlay">
  <div class="modal-inner export-menu">
    <button ng-click="close()" class="close">&times;</button>
    <h2 class="center">{{ action }} drawing</h2>
    <div class="row">
      <form ng-submit="submit()" name="exportForm">
        <div ng-if="error" class="box box-danger">{{ error }}</div>
        <div class="col-6"><img ng-src="{{ imageURL }}" class="created-image"/></div>
        <div class="col-6">
          <input ng-model="meta.title" placeholder="Title" type="text" required="required" class="filename"/>
          <textarea ng-model="meta.description" placeholder="Description" class="description"></textarea>
          <div class="buttons">
            <button type="submit" ng-disabled="exportForm.$invalid" ng-class="{ &quot;disabled&quot; : exportForm.$invalid }" ng-if="!category" class="button-success"><i ng-class="&quot;icon-&quot; + action"></i> {{ action }}</button>
            <button type="submit" ng-disabled="exportForm.$invalid" ng-class="{ &quot;disabled&quot; : exportForm.$invalid }" ng-if="category" class="button-success"><span>Share &amp; Continue</span></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>