.center-content
    display flex
    align-items center
    justify-content center
    background rgba(0,0,0,0.2)
    
    .try-banner
        color white
        
        h4
            color white

        .logo-title
            illustration-fixed('layout/draw-logo')
            margin 30px auto 20px

            img
                vertical-align middle

            img:last-of-type
                margin-left 20px
        
        button
            button-color(color-green)