
<div class="banner"><a href="http://art.kano.me/challenges/mischiefweek2015/" target="_blank"><img src="/assets/layout/mischiefweek-logo.png"/><span>Mischief Week</span>  Hack your way through a fresh batch of coding challenges in Make Art</a></div>
<div ng-class="[ selectedWorldClass ]" class="page-challenges">
  <div class="page-width">
    <div class="web left"></div>
    <div class="web right"></div>
    <h3 ng-if="selectedWorld" class="page-title"><span>{{ selectedWorld ? selectedWorld.name : 'Challenges'}}</span>
      <div class="quests"><a ng-if="isWorldInIndex(selectedWorld)" href="/challenges"><i class="icon-arrow-left"></i>Challenges</a></div>
    </h3>
    <div class="header"></div>
    <ul ng-if="!selectedWorld" class="worlds-list">
      <li ng-repeat="world in worlds" ng-if="isWorldInIndex(world)" class="world-item"><a ng-href="{{!isWorldLocked(world) ? &quot;/challenges/&quot; + world.id : &quot;&quot;}}" ng-class="{locked: isWorldLocked(world), completed: isWorldCompleted(world), current: isWorldCurrent(world)}" ng-style="{ &quot;background-image&quot;: &quot;url(/assets/challenges/images/&quot; + world.cover + &quot;.png)&quot; }" class="world-cover">
          <h4>{{ world.name }} </h4></a></li>
    </ul>
    <ul ng-if="selectedWorld" class="challenges-list">
      <li ng-repeat="challenge in challenges"><a ng-click="selectChallenge(challenge)" ng-class="{ locked: isLocked(challenge), completed: isCompleted(challenge), current: isCurrent(challenge) }">
          <div ng-style="{ &quot;background-image&quot;: &quot;url(/assets/challenges/images/&quot; + challenge.cover + &quot;)&quot; }" class="cover"></div>
          <div class="detail">
            <h5>{{ challenge.short_title || challenge.title }}</h5>
          </div>
          <div class="weekday"><span>{{ challenge.start_date | date: 'EEEE' }}</span></div></a></li>
      <li ng-if="selectedWorld.type !== &quot;campaign&quot;"><a href="/playground" ng-class="{ locked: false}" class="highlight">
          <div ng-style="{&quot;background-image&quot;: &quot;url(/assets/challenges/images/playground.png)&quot;}" class="cover"></div>
          <div class="detail">
            <h5>Playground</h5>
          </div></a></li>
    </ul>
    <div ng-if="shares &amp;&amp; selectedWorld.type !== &quot;campaign&quot;">
      <h3 class="page-title"><i class="icon-share"></i>Latest Shares</h3>
      <ul class="shares-list">
        <li ng-repeat="share in shares"><a href="{{cfg.WORLD_URL}}/shared/{{ share.slug }}">
            <div ng-style="{ &quot;background-image&quot;: &quot;url(&quot; + share.cover_url + &quot;)&quot; }" class="cover"></div>
            <div class="detail">
              <h5>{{ share.title }} <em>by {{ share.user.username }}</em></h5>
            </div></a></li>
        <li><a href="{{cfg.WORLD_URL}}/shares/make-art" ng-click="browseMore($event)" target="_blank" class="highlight browse">
            <div ng-style="{&quot;background-image&quot;: &quot;url(/assets/challenges/images/browse.png)&quot;}" class="cover"></div>
            <div class="detail">
              <h5>Browse more</h5>
            </div></a></li>
      </ul>
    </div>
  </div>
</div>
<div ng-if="selectedChallenge" class="modal-overlay">
  <div class="modal-inner modal-challenge-info center">
    <div ng-style="{ &quot;background-image&quot;: &quot;url(/assets/challenges/images/&quot; + selectedChallenge.cover +&quot;)&quot; }" class="cover"></div>
    <button ng-click="deselectedChallenge()" class="close"><i class="icon-cross"></i></button>
    <div class="detail">
      <h3>{{ selectedChallenge.title }}</h3>
      <p class="description">{{ selectedChallenge.description }}</p><a ng-href="/challenge/{{selectedWorld.id}}/{{selectedChallenge.id}}" class="button button-success">Start</a>
    </div>
  </div>
</div>
<div ng-controller="PromoPopupController" ng-show="isPopupOpen" class="modal-overlay">
  <div class="modal-inner promo-popup">
    <div class="sc-popup-header">
      <h2>{{cfg.title}}</h2>
      <p>{{cfg.text}}</p><a ng-click="isPopupOpen = false" class="close-btn"></a>
    </div>
    <div ng-if="isPopupOpen" class="sc-popup-body">
      <div ng-if="cfg.body === 'video'" class="promo-video">
        <iframe width="600" height="337" src="https://www.youtube.com/embed/D5H1A7-6E_U?rel=0&amp;amp;controls=0&amp;amp;showinfo=0" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
      </div>
      <div ng-if="cfg.body === 'upgrade-kit' " class="upgrade-kit-img"></div>
      <div ng-if="cfg.body === 'update' " class="update-img"></div>
    </div>
    <div class="sc-popup-footer"><a ng-click="isPopupOpen = false" href="{{cfg.link.url}}" target="_blank" class="button button-success large">{{cfg.link.text}}</a></div>
  </div>
</div>