.modal-overlay.center-content(ng-controller='TryBannerController', ng-show='isBannerOpen', ng-cloak)
    .try-banner

        //- Logo
        .logo-title

        h4.center Want to draw with code?

        //- Start button
        .center.bottom-section

            button.button.large(ng-click='removeBanner()') Try